@import "src/assets/styles/_mixins.scss";

.restaurantCard {
  background-color: $card-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;

  .restaurantImage {
    width: 100%;
    object-fit: cover;
    background-color: $primary-gray;
  }

  .restaurantInfo {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    .restaurantName {
      @include bold-text();
      margin-bottom: 8px;
      overflow-x: auto;
      white-space: nowrap;
    }

    .restaurantChef {
      @include body-text;
      margin-top: 0px;
    }
  }
}