@import "src/assets/styles/_mixins.scss";

.restaurantCard {
  background-color: $card-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  
  .restaurantImage {
    width: 100%;
    object-fit: cover;
    background-color: $primary-gray;
  }

  .restaurantInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    .restaurantName {
      @include bold-text();
      margin-bottom: 8px;
      @include horizontal-overflow;
      max-width: 100%; 
    }

    .restaurantChef {
      @include body-text;
      margin-top: 0px;
      @include horizontal-overflow;
      max-width: 100%; 
    }
  }


  .restaurantRating {
    display: flex;
    gap: 4px;


    .star {
      color: $primary-orange;
      font-size: 16px; 
    }

    .star.empty {
      color: $primary-orange; 
    }
  }


}