@import "src/assets/styles/_mixins.scss";

.dish-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    

    &__content {
        background: white;
        width: 100%;
        max-width: 375px;
        height: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        
    }

    &__header {
        height: 46px;
        position: relative;
        background: white;

    }

    &__close {
        position: absolute;
        top: 13px;
        left: 16px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 1;

        img {
            width: 20px;
            height: 20px;
        }
    }

    &__image-container {
        width: 100%;
        height: 271px; 
        padding-top: 46px;
        
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__details {
        padding: 32px 37px 0px 20px;
    }

    &__name {
        @include bold-text();
        @include horizontal-overflow;
        margin-bottom: 8px;
    }

    &__ingredients-container {
        height: 40px;
        overflow-y: auto;
        margin-bottom: 24px;
        
    }

    &__ingredients {
        @include body-text;
        
    }

    &__section {
        margin-bottom: 40px;

        h3 {
            @include text(20px);
            line-height: 18px;
            letter-spacing: 1.97px;
            margin-bottom: 16px;
            padding-bottom: 8px;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-decoration-color: #DE9200E5;
            text-underline-offset: 8px;
        }
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: 12px;
        
    }

    &__radio,
    &__checkbox {
        line-height: 18px;
        letter-spacing: 1.97px;
        display: flex;
        align-items: center;
        cursor: pointer;
        @include horizontal-overflow;


        input {
            margin-right: 12px;
        }
    }

    &__radio input {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        outline: none;
        cursor: pointer;

        &:checked {
            background-color: #de9200;
            border-color: #de9200;
        }
    }

    &__checkbox input {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid $primary-color;
        border-radius: 2px;
        outline: none;
        cursor: pointer;

        &:checked {
            background-color: #de9200;
            border-color: #de9200;
        }
    }

    &__quantity-controls {
        display: flex;
        align-items: center;
        gap: 16px;

        button {
            width: 36px;
            height: 36px;
            border: none;
            background: $primary-white;

            cursor: pointer;

            img {
                width: 19px; 
                height: 20px;
              }
            
        }

        span {
            @include text(20px);
        }
    }

    &__add {
        @include bold-text(18px);
        line-height: 46px;
        letter-spacing: 2.67px;
        background: $primary-color;
        color: $primary-white;
        border: none;
        width: 206px;
        height: 48px;
        cursor: pointer;
        padding-bottom: 48px;
        margin-left: 20px;
        margin-bottom: 48px;
        
    }
    
}