@import "src/assets/styles/_mixins.scss";

.chef-of-the-week {
  .section-title {
    @include text;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1.25px;
    margin-bottom: 20px;
    padding-left: 20px;
    margin-top: 48px;
    text-transform: uppercase;
  }

  .chef-info {
    margin-bottom: 20px;
    padding: 0 20px;

    .chef-photo-container {
      width: 335px;
      height: 262;

      .chef-name-label{        
        padding: 0;
        width: 478px;
        height: 51px;
        @include md{
          height: 78px; 
        }
      }

      .chef-photo{
        @include md {
          height: 372px;  
          width:  478px;
        }
      }

     
    }
  }

  .chef-about {
    @include text;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1.25px;
    text-align: justify;
    margin-bottom: 12px;
    padding: 0 20px;
  }

  @include md {
    .restaurantCard {
      width: 231px;
      height: 357px;

      .restaurantImage {
        width: 231px;
        height: 224px;
      }

      .restaurantName {
        font-size: 30px;
        text-align: center;
        margin-top: 4px;
      }
    }


  }
}