@import "src/assets/styles/_mixins.scss";


.Info {
    position: relative;
    width: 100%;
    height: 867px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-color: #FAFAFA;

    &__logo {
        width: 102px;
        height: 95px;
        margin-top: 24px;
      }
    
    &__download{
        width: 180px;
        height: 120px;
        margin-top: 151px;
    }

h2{
    @include text;
    line-height: 35px;
    letter-spacing: 1.25px;
    margin-top: 219px;
    margin-left: 1px;

}

p {
    @include text;
    line-height: 28px;
    letter-spacing: 2.14px;
    margin-right: 27px;
    margin-top: 0px;
}


}


