@import '../assets/styles/mixins';

.header {
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  z-index: 1000; // ensures other content stay underneath the header 
  
  &__menu-button {
    @include button();
    @include icon-size(24px);
    position: absolute;
    left: 0px;
    top: 0px;
  }

  &__logo {
    position: absolute;
    left: calc(50% - 16.5px); 
    top: 7px;

    img {
      width: 33px;
      height: 32px;
    }
  }

  &__actions {
    display: flex;
    gap: 0px;
    position: absolute;
    right: 20px;
    top: 2px;

  }

  &__action-button {
    @include button();
    @include icon-small;
  }
}

@media (min-width: 376px) {
  .header__container {
    max-width: none;
  }
}