@import '../assets/styles/setup/mixins';

.hero {
  background-image: url('/hero.svg');
  background-size: cover;
  background-position: center;
  height: 273px; 
  width: 100vw; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0px;

  &__content {
    background-color: #FFFFFFE0; 
    width: 335px;
    height: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
  }

  &__title {
    @include text;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1.97px;
    text-align: center;
    margin-bottom: 18px;
    
  }

  &__search {
    position: relative;

    input {
      @include text;
      background-color: transparent;
      justify-content: center;
      display: flex;
      text-align: center;
      width: 100%;
      width: 315px;
      height: 30px;
      margin-bottom: 16px;
      border: 0.5px solid #000000;
      border-radius: 5px;
      &::placeholder {
        color: #000000;
      }
    }

    &-button {
      position: absolute;
      display: flex;
      left: 8px;
      top: 20%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      @include icon-small;
    }
  }
}
