@import "src/assets/styles/_mixins.scss";

.restaurants {
  padding: 20px;

  &__title {
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 1.92px;
    margin-bottom: 20px;
  }

  &__filter-bar {
    margin-bottom: 20px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;

    @include md {
      grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
      max-width: 3 * 288px; // max 3 cards per row
      margin: 0 auto;
    }
  }
}