@import "src/assets/styles/_mixins.scss";


.filter-bar {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;

    &__button {
        position: relative;
        line-height: 21.76px;
        letter-spacing: 1.92px;
        @include button;
        margin-right: 19px; 

        &:last-child {
            margin-right: 0px;
        }

    &--active {
        font-weight: 400;
    }

    
      &--active::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 1.8px;
        background-color: #DE9200E5;
      }
    }
  }


