@import './variables';

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin text($size: 18px) {
  font-family: $primary-font;                               
  font-weight: $primary-weight;
  color: $primary-color;
  font-size: $size;
  font-weight: 200;

}

@mixin bold-text($size: 18px) {
  font-family: $primary-font;                               
  font-weight: $primary-weight;
  color: $primary-color;
  font-size: $size;
  font-weight: 400;
}

@mixin icon-small() {
  width: 20px;
  height: 20px;
  background: transparent;
}

@mixin icon-size($size) {
  width: $size;
  height: $size;
}

@mixin header-height($height: 46px) {
  height: $height;
}

@mixin vertical-center($height: 46px) {
  top: 50%;
  transform: translateY(-50%);
}

@mixin body-text() {
  color: $primary-color;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: $primary-weight;
  line-height: 20px;
  letter-spacing: 1.97px;
  text-align: left;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin button() {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: $primary-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
