@import "src/assets/styles/_mixins.scss";

h2 {
    @include bold-text(22px);
    margin-top: 20px;
    letter-spacing: 1.25px;
  }

  p {
    @include text(16px);
    margin-top: 10px;
    line-height: 28px;
    letter-spacing: 1.25px;
  }